@charset "utf-8";

/* body {
    margin: 0;
    padding: 0;
} */

/* *{border: 1px solid red;} */

@media (max-width:421px) {
    #memoticon {
        width: 100%;
    }
}

#main {
    text-align: center;
}

#greetings {
    font-size: 25px;
}

#aboutme {
    font-size: 20px;
}

#links * {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#links_addition {
    font-size: 15px;
    color: gray;
}

#contact {
    margin-top: 10px;
    font-size: 5px;
    color: gray;
}

p {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}